DB_URL=jdbc:postgresql://localhost:5432/ticketSystem
DB_USERNAME=postgres
DB_PASSWORD=12345
JWT_SECRET=VGhpc0lzQURldmVsb3BtZW50U2VjcmV0S2V5Rm9yVGVzdGluZzEyMzQ1Njc4OTA=
JWT_ACCESS_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_MS=604800000
ADMIN_EMAIL=admin@ticketsystem.local
ADMIN_PASSWORD=ChangeMe123!
JPA_SHOW_SQL=false

